

/* GLOBALES*/


/* Estilos para inputs y selects */
.form-control,
.form-select {
  background-color: #f5f5f5;
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
  box-shadow: none;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}
.form-control:focus,
.form-select:focus {
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px rgba(33,150,243, 0.5); /* Highlight azul */
}

/* Estilo para los labels */
.form-label {
  font-weight: 500;
  margin-bottom: 5px;
}

/* Estilos para el botón */
.btn-danger{
    background-color: #f06969; /* Azul material */
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }

.btn-primary {
  background-color: #2196F3; /* Azul material */
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  background-color: #1976D2; /* Azul más oscuro al pasar el mouse */
}
.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(33,150,243, 0.5);
}



/* DASHBOARD */

.nav-link{
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: rgb(65, 65, 65);
}

.nav-link:hover{
  background-color: #ebebebc2;
}

.nav-link:focus, .nav-link:hover {
  color: var(--bs-nav-link-hover-color);
  background-color: #ebebebc2;
}